{
  "extends": ["wesbos"],
  "rules": {
    "no-console": 0,
    "react/destructuring-assignment": [
      0,
      "always",
      { "ignoreClassFields": "boolean" }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 2,
        "endOfLine": "auto"
      }
    ],
    "arrow-body-style": ["error", "always"],
    "react/prop-types": 0
  }
}
